*un~
.DS_Store
.bundle
.vagrant.d
.npm
.rubies
.tmux
.dropbox
.gem
.cache
.vimrc*
.viminfo
.subversion
.gvimrc
.config
.fzf*
.bash_history
.bashrc
.local
.ssh
.zshrc
.wget-hsts
.Trash
.gitconfig
.bash_sessions
workspace
go
tmp
tags
Applications/
Desktop/
Documents/
Downloads
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
private/
