*un~
.DS_Store
.bundle
.vagrant.d
.npm
.rubies
.tmux
.dropbox
.gem
.cache
.vimrc*
.viminfo
.subversion
.gvimrc
.config
.fzf*
.bash_history
.bashrc
.local
.ssh
.zshrc
.wget-hsts
.Trash
.gitconfig
.bash_sessions
.atom/blob-store
.lpass
.docker
.kube
.minikube
.pia_manager
.oracle_jre_usage
.flyrc
.bosh_config
.NERDTreeBookmarks
.CFUserTextEncoding
.dotnet
.nuget
.vim/bundle
.aws/credentials
.lesshst
.heroku/
.mongorc.js
.netrc
.pia_manager_crash.log
.pry_history
.psql_history
.pylint.d/
.rediscli_history
.rnd
.dbshell
.XAuthority
.bwnx
.kodi
.m2
.yarnrc
iCloud Drive (Archive)
workspace
go
tmp
tags
Applications/
Desktop/
Documents/
Downloads
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
private/
Creative Cloud Files/
VirtualBox VMs/
VMs/
