[submodule ".vim"]
	path = .vim
	url = https://github.com/luan/vimfiles
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".atom/.atom"]
	path = .atom/.atom
	url = https://github.com/luan/atom-config
