"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-visual-studio-code-ui"
      "base16-tomorrow-dark-theme"
    ]
  "exception-reporting":
    userId: "80ec0aa6-4854-4e7d-a36a-47607e003f85"
  "nord-atom-ui": {}
  "terminal-plus":
    core:
      mapTerminalsTo: "Folder"
    toggles:
      autoClose: true
      cursorBlink: false
